# Create a new app registration in Azure AD and create a client secret
# 
# Set the following API permissions:
#   - Microsoft Graph API (Application Permissions): Application.Read.All
# 
# Remove all other permissions, including delegated permissions, and grant admin consent
# Set the following environment variables in a .env file in the same directory as the expirator binary
# 

AZ_TENANT_ID=91df51c2-d3c7-4846-95d8-3bbabe3b1254
AZ_CLIENT_ID=82f09c18-684b-4382-a480-14c1bf875ba0
AZ_CLIENT_SECRET=vgq8B~boy3YEFFSn7BT2DYuoLtUNb8y9MxXF5cOM